/* jQuery default UI fixes */
.ui-li-static.ui-li-has-thumb { padding-left: 75px; }
.ui-li-thumb { max-width:65px; }
.ui-li-aside { width:auto; }
.ui-collapsible-heading .ui-btn-text { display: block; }

body {
    background-color: #F6F5F3;
}

.content.selected {
    background-color: #afa;
}

.selected-count {
    position: absolute;
    font-weight: bold;
    padding: .2em .5em;
    top: 50%;
    margin-top: -.8em;
    right: 6px;

    -webkit-border-radius: 15px;
            border-radius: 15px;
    
    background-color: #ddd;
}

img.logo.square {
    display: inline-block;
}
.ui-content img.logo {
    opacity: .5;
}
.ui-content img.logo[alt="OIF"],
.ui-content img.logo[alt="AUF"] {
    max-height: 70px;
    width: auto;
}
h1 img.square {
    height: 16px;
    width: 16px;
    position: relative;
    top: 2px;
    margin-right: 6px;
}

.people {
    padding-left: 5px;
    list-style-type: none;
}
.people .name {
    font-weight: bold;
    display: block;
}
.people .job { font-size: 0.8em; }

.people li + li {
    margin-top: 10px;
}

#b_cancel.nodisplay { display: none; }
