<!doctype html>
<html lang="{{ lang|default('fr') }}" dir="{{ dir|default('ltr') }}">
    <head>
        <meta charset="utf-8" />
        <meta name="language" content="{{ lang|default('fr') }}" />

        <title>{{ main_title|default('IFADEM') }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="js/jquery.mobile-1.3.1.min.css" />
        <link rel="stylesheet" href="css/main.css" />
        <script src="js/jquery-1.9.1.min.js"></script>
        <script src="js/jquery.mobile-1.3.1.min.js"></script>

        {# Icons #}
        <link rel="icon" type="image/png"        href="imgs/ifadem-logo.png" />
        <link rel="apple-touch-icon"             href="imgs/ifadem-logo.png" />
        <link rel="apple-touch-icon-precomposed" href="imgs/ifadem-logo.png" />
    </head>
    <body>
        <script>var user = {{ user_json|raw }};</script>

        {##
         # Landing page
         # ----------------
         #
         # This is where the user goes each time they use the app. It let them
         # choose their username, and then either select resources (if they have
         # an Internet connection), see the cached resources, or copy their RSS
         # feed URL for use in the Android app.
         #
         ##}
        <div data-role="page" id="landingpage">
            <div data-role="header">
               <h1><img class="logo square" src="imgs/ifadem-logo.png" width="136" height="102" alt="IFADEM" />{{ title|default('IFADEM') }}</h1>
            </div>
            <div data-role="content">
                <form class="inline" id="user-id-form" data-ajax="false">
                    <input type="text" placeholder="Choisissez un pseudo..." id="user-id" value="{{ user.id }}" />
                </form>

                <a data-role="button" id="link_selection" href="#selection-page" >Sélectionner des ressources</a>
                <a data-role="button" id="link_resources" href="#view-resources-page">Voir les ressources disponibles</a>
            </div>
        </div>

        {##
         # Selection page
         # ------------------
         #
         # This is the page where the user can see what resources are available,
         # and choose those they want to have in their RSS feed and/or cached in
         # their local cache.
         # 
         ##}
        <div data-role="page" id="selection-page">
            <div data-role="header">

                <a href="#cancelling-confirmation" data-role="button" data-rel="popup"
                                                   data-icon="delete" data-iconpos="notext"
                                                   id="b_cancel" class="nodisplay">Annuler</a>

               <h1><img class="logo square" src="imgs/ifadem-logo.png" width="136" height="102" alt="IFADEM" />{{ title|default('IFADEM') }}</h1>

                <a href="#" data-role="button"
                            data-icon="check"
                            data-iconpos="notext"
                            id="select-contents">OK</a>

            </div>
            <div data-role="content">

                <div data-role="collapsible-set" data-inset="false">
                    {% for country in countries %}
                    <div data-role="collapsible">
                        <h2>{{ country.name }}<span class="selected-count"><span class="count">{{ country.selected_count|default('0') }}</span>/{{ country.contents|length|default('0') }}</span></h2>
                        <ul data-role="listview" data-filter="true"
                                                 data-filter-placeholder="Filtrer les ressources...">
                            {% for content in country.contents %}
                            <li data-content-id="{{ content.id }}" class="content{% if content.selected %} selected{% endif %}">
                                <img src="{{ content.thumbnail }}" class="content-thumbnail" />
                                <h3>{{ content.title }}</h3>
                                <p>{{ content.description }}</p>
                                <p class="ui-li-aside">{{ content.size }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <img class="logo" src="imgs/oif.png" width="239" height="103" alt="OIF" />
                 {# <img class="logo square" src="imgs/ifadem-logo.png" width="136" height="102" alt="IFADEM" /> #}
                    <img class="logo square" src="imgs/auf.png" width="140" height="100" alt="AUF" />
                </div>
                <a href="#help"    data-inline="true" data-role="button"
                                   data-mini="true"
                                   data-icon="info" data-iconpos="left">Aide</a>
                <a href="#apropos" data-inline="true" data-role="button"
                                   data-mini="true"
                                   data-icon="info" data-iconpos="left">À Propos</a>
            </div>

            {##
             # These are the popups for each content.
             ##}
            {% for country in countries %}
                {% for content in country.contents %}
            <div data-role="popup" id="content-details-{{ content.id }}">
                <h3>{{ content.title }}</h3>
                <p>{{ content.description }}</p>
                <ul class="content-infos">
                    <li>Difficulté&nbsp;: {{ content.difficulty|default('non précisée') }}</li>
                    <li>Langue&nbsp;: {{ content.lang|default('non précisée') }}</li>
                    <li>Créé le {{ content.creation_date|date('d/m/Y à H:i') }}</li>
                    {% if content.modification_date %}
                    <li>Modifié le {{ content.modification_date|date('d/m/Y à H:i') }}</li>
                    {% endif %}
                    <li>Nombre de fichiers MP3&nbsp;: {{ content.mp3s_count }}</li>
                </ul>
            </div>
                {% endfor %}
            {% endfor %}

            {##
             # Selection cancelling pop-up
             ##}
            <div data-role="popup" id="cancelling-confirmation">
                <p>Êtes-vous sûr de vouloir annuler toute la sélection&nbsp;?
                   Cette action est irréversible, et désélectionnera
                   toutes les ressources actuellement sélectionnées.</p>
                <a href="#home" data-role="button" data-rel="back">Non</a>
                <a href="#home" data-role="button" data-rel="back" data-mini="true" id="confirm-cancelling">Oui</a>
            </div>
        </div>

        {##
         # 'View resources' intermediate page
         # ----------------------------------
         #
         # This is the page the user sees if they select 'view resources' on
         # the landing page. This let them choose between the RSS feed or the
         # AppCache view.
         #
         ##}
        <div data-role="page" id="view-resources-page">
            <div data-role="header">
                <a href="#" data-role="button" data-rel="back" data-icon="back" data-iconpos="notext">Retour</a>
               <h1><img class="logo square" src="imgs/ifadem-logo.png" width="136" height="102" alt="IFADEM" />Ressources</h1>
            </div>
            <div data-role="content">
                <p>Vous pouvez voir vos ressources disponibles via l'application RSS (recommandé), ou via
                   le cache (expérimental). Lors de la première utilisation, copiez/collez l'adresse
                   suivante dans l'application RSS<!-- TODO see if it's possible to open the app from the
                   web instead of copy/pasting URLs -->&nbsp;:</p>
                <input type="text" id="rss-feed-url" value="{{ user.rss_url }}" />
                <a href="#viewcached-page" data-role="button" data-iconpos="left">Voir les ressources en cache</a>
            </div>
        </div>

        {##
         # 'View cached' page
         # ------------------
         #
         # TODO
         #
         ##}
        <div data-role="page" id="viewcached-page">
            <div data-role="header">
                <a href="#" data-role="button" data-rel="back" data-icon="back" data-iconpos="notext">Retour</a>
               <h1><img class="logo square" src="imgs/ifadem-logo.png" width="136" height="102" alt="IFADEM" />Ressources en cache</h1>
            </div>
            <div data-role="content">
                <p>Il n'y a aucune ressource disponible en cache pour le moment.</p>
            </div>
        </div>

        {##
         # Help page
         # ---------
         #
         # Text-only page (no dynamic elements).
         #
         ##}
        <div data-role="page" id="help">
            <div data-role="header">
                <a href="#" data-role="button" data-rel="back" data-icon="back" data-iconpos="notext">Retour</a>
                <h1>Aide</h1>
            </div>
            <div data-role="content">
                <h2>1. Choix d’un pseudo</h2>
                <p>Les ressources que vous sélectionnez sont automatiquement associées à votre pseudo. Ceci
                   permet de générer un flux de podcast unique quelque soit l’appareil que vous utilisez ou
                   les ressources que vous sélectionnez.</p>
                <h2>2. Sélection des ressources</h2>
                <p>Touchez les noms de pays pour accéder à la liste des ressources correspondante. Vous
                   pouvez afficher plus d’informations sur une ressource en touchant son image. Touchez
                   une ressource pour l’ajouter ou la supprimer de votre sélection. Quand vous avez
                   fini, validez en touchant le bouton en haut à droite. Attention&nbsp;: plus
                   vous sélectionnez de ressources, plus le téléchargement sera important, donc assurez-vous
                   de disposer d’une bonne connexion.</p>
                <h2>3. Flux de podcast</h2>
                <p>Une fois que vous avez validé votre sélection, l’adresse de votre flux de podcast est
                   affichée. Copiez-la dans votre application de podcast, qui se chargera ensuite de télécharger
                   automatiquement les ressources correspondantes. Il n’est nécessaire de copier cette
                   adresse que la première fois (ou si vous changez de pseudo), l’application de podcast
                   s’en souviendra pour les fois d’après.</p>
                <h2>4. Consultation des ressources</h2>
                <p>Assurez-vous d’être connecté à Internet quand vous sélectionnez de nouvelles ressources, puis
                   ouvrez votre application de podcast pour les télécharger. Une fois les ressources téléchargées,
                   vous pouvez les consulter en hors-ligne via votre application de podcast.</p>
            </div>
        </div>

        {##
         # 'About' page
         # ----------------
         #
         # Text-only page (no dynamic elements).
         #
         ##}
        <div data-role="page" id="apropos">
            <div data-role="header">
                <a href="#" data-role="button" data-rel="back" data-icon="back" data-iconpos="notext">Retour</a>
                <h1>À Propos</h1>
            </div>
            <div data-role="content">
                <img src="imgs/oif.png" width="239" height="103" alt="OIF" />
                <img src="imgs/ifadem-logo.png" width="136" height="102" alt="IFADEM" />
                <img src="imgs/auf.png" width="140" height="100" alt="AUF" />
                <ul class="people">
                    <li><span class="name">Papa Youga Dieng</span>
                        <span class="job">Coordinateur IFADEM-OIF</span></li>

                    <li><span class="name">Rachid El Boussarghini</span>
                        <span class="job">Maître de conférences, membre du groupe d'experts IFADEM</span></li>

                    <li><span class="name">Vincent Bellenger</span>
                        <span class="job">Ingénieur informatique</span></li>

                    <li><span class="name">Jean-Baptiste Yunès</span>
                        <span class="job">Maître de conférences, Université Paris Diderot</span></li>

                    <li><span class="name">Baptiste Fontaine</span>
                        <span class="job">Développeur, Université Paris Diderot</span></li>
                </ul>
            </div>
        </div>

        <script>
        var user = {{ user|json_encode|raw }};
        </script>

        <script src="js/app.js"></script>
    </body>
</html>
